@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* 
#about-me{
    background-image: url(images/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
} */